@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	line-height: normal;
}

header {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

header > .icon {
	margin-bottom: -0.5rem;
}

header > .name {
	font-size: 3rem;
	font-weight: bolder;
	margin: 1rem;
}

@keyframes LightMode {
	from {transform: translateX(200%);}
	to {transform: translateX(20%);}
}

.toogle-lightmode {
	animation-name: LightMode;
	animation-duration: 0.3s;
}

@keyframes DarkMode {
	from {transform: translateX(20%);}
	to {transform: translateX(200%);}
}

.toogle-darkmode {
	animation-name: DarkMode;
	animation-duration: 0.3s;
}

header > .title {
	font-size: 2rem;
	font-weight: 200;
	margin: -1rem 1rem 1rem 1rem;
}

header > .flags {
	position: absolute;
	padding: 1rem;
	bottom: 0;
}

header > .flags > .flag {
	height: 3rem;
	width: 5rem;
	margin: 0.5rem;
	filter: brightness(50%);
	transition: ease-in-out all 0.5s;
	border-radius: 20%;
}

header > .flags > .flag-selected {
	filter: brightness(100%);
}

header> .flags > .flag:hover{
	filter: brightness(100%);
	transition: ease-in-out all 0.5s;
}

#about {
	width: 100%;
	padding: 4rem 2rem;
	min-height: 80vh;
}

#about .user-photo {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	background-color: #fff;
	width: 50%;
	max-width: 300px;
}

#about .photo {
	width: 100%;
	padding: 0.5rem; 
}

#about .user-tecnologies {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 1rem;
}

#about .card {
	width: 70%;
	background-color: #fff;
	height: 300px;
	margin: 0 auto;
}

#about .card-header {
	padding: 1rem;
	background-color: aqua;
}

#about .card > .card-header > .dot {
	height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
	margin: 0 0.3rem;

}


footer {
	display: flex;
	height: 150px;
	padding: 1rem;
	align-items: center;
}

footer > .grid-footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

footer > .grid-footer > * > .col {
	margin: 1rem;
}